.wholeCalendar{
    width: 814px;
    margin: auto;
    font-family: Arial;
}
.swipeRight{
    width: 0;
    height: 0;
    margin-top: 30px;
    margin-right: 10px;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    float: right;
    border-left: 30px solid rgba(255, 255, 255, .5);
    cursor: pointer;
}
.swipeLeft{
    width: 0;
    height: 0;
    margin-top: 30px;
    margin-left: 10px;
    border-top: 30px solid transparent;
    border-bottom: 30px solid transparent;
    float: left;
    border-right: 30px solid rgba(255, 255, 255, .5);
    cursor: pointer;
}
.monthYear{
    display: block;
    text-align: center;
    color: #fefaf9;
    background-color: #58c7da;
    font-size: 40px;
    border-width: 0 0 15px 0;
    border-color: white;
    border-style: solid;
    height: 120px;
    line-height: 120px;
}
.mainPart{
    border-style: solid;
    border-color: #dfe3e6;
    font-size: 36px;
    width: 112px;
    height: 112px;
    line-height: 112px;
    border-width: 0px 5px 5px 0px;
    text-align: center;
    display: inline-block;
}
.weekDate{
    height: 70px;
    line-height: 70px;
    border-top-width: 5px;
    text-align: center;
    color: #5f5f5d;
    background-color: #eeeff3;
}
.date{
}
.enotherMonth{
    color: #cecece;/*#676767;*/
}
.thisMonth{
    color: #000000;
}
.thisMonthHoliday{
    border-right-style: none;
    color: #58cce5;
}
.enotherMonthHoliday{
    border-right-style: none;
    color: #cecece;
}